<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <!-- 定义一个控制台Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %msg%n"/>
        </Console>

        <!-- 为特定类定义的文件Appender -->
        <File name="UserOperationLog" fileName="logs\UserOperationLog.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- 根Logger -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- 特定类的Logger -->
        <Logger name="com.sample.music.aspect.UserOperationLogAspect" level="info" additivity="false">
            <AppenderRef ref="UserOperationLog"/>
        </Logger>
    </Loggers>
</Configuration>